<agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr />
<div id="alarm" class="alert alert-danger alert-dismissible" role="alert" *ngIf="showError">
   <strong>error!! {{ showError }}</strong>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h2>Lugares Cercanos</h2>
        <a class="btn btn-primary" routerLink="/crear/new">Crear Nuevo Negocio</a>
        <ul class="list-group">
            <ng-container *ngFor="let lugar of lugares">
                  <li class="list-group-item">
                    <a routerLink="/crear/{{ lugar.id }}">
                      <h3>{{ lugar.nombre }}</h3>

                      <span class="glyphicon glyphicon-star pull-right" *ngIf="lugar.plan == 'Pagado'"></span>
                    </a>
                    <h4>{{ lugar.categoria }}</h4>
                    <br/>
                    <small>Creado: {{lugar.id | date:'fullDate' }}</small>
                   <p [innerHTML]='lugar.descripcion | linkifystr'></p>
                  </li>
              <!-- <a routerLink="/detalle/{{ lugar.id }}" [queryParams]="{action:'edit', referer:'google'}"><li class="list-group-item">{{ lugar.nombre }}</li></a> -->
              <!-- *ngIf="lugar.active" en el li para chequear si activo -->
            </ng-container>
        </ul>
    </div>
    <div class="col-md-4" [@contenedorAnimable]="state">
         <h2>Destacados</h2>
           <ng-container *ngFor="let lugar of lugaresPayedRandom">
              <div class="bg-warning padding" *ngIf="lugar.plan == 'Pagado'" >
                <a routerLink="/crear/{{ lugar.id }}">
                  <h3>{{ lugar.nombre }}</h3>
                </a>
                <br/>
                <p [innerHTML]='lugar.descripcion | linkifystr'></p>
              </div>
            </ng-container>
    </div>
  </div>
</div>
