<div class="well">
	<a routerLink="/lugares">Lugares</a> / Crear Lugar
</div>
<div class="container">
	<label>Nombre</label>
	<input type="text" class="form-control" placeholder="Escribe tu nombre" required=""  [(ngModel)]="lugar.nombre"/>
	<br/>
	<label>Distancia</label>
	<input type="number" class="form-control" placeholder="Escribe La distancia" required="" [(ngModel)]="lugar.distancia"/>
	<br/>
	<label>Cercania</label>
	<input type="number" class="form-control" placeholder="Escribe La cercanía" required="" [(ngModel)]="lugar.cercania"/>
	<br/>
	<label>Descripción</label>
	<textarea class="form-control" placeholder="Escribe la descripción" required="" [(ngModel)]="lugar.descripcion"></textarea>
	<label>Plan</label>
	<input type="text" class="form-control" placeholder="Escribe tu plan" required=""  [(ngModel)]="lugar.plan"/>
	<h3>Datos de Dirección</h3>
	<label>Calle y Número</label>
	<input type="text" class="form-control" placeholder="Escribe tu plan" required=""  [(ngModel)]="lugar.calle"/>
	<label>Ciudad</label>
	<input type="text" class="form-control" placeholder="Escribe tu plan" required=""  [(ngModel)]="lugar.ciudad"/>
	<label>País</label>
	<input type="text" class="form-control" placeholder="Escribe tu plan" required=""  [(ngModel)]="lugar.pais"/>
	<br/>
	<hr>
	<a class="btn btnEnviar" (click)="guardarLugar()">Enviar <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
	<a class="btn btnCancelar" routerLink="/lugares">Cancelar</a>
</div>
